# Compiled binaries
cds-daemon
cds-authz-plugin
cds-cli
**/cds-cli

# Log files
*.log

# Runtime database and keys (local only)
trust.db
/var/lib/cds/*
/run/cds/*
/run/docker/plugins/*

# Go dependencies
vendor/
