[Unit]
Description=CDS Zero-Trust Daemon
Requires=cds-daemon.socket
After=cds-daemon.socket

[Service]
ExecStart=/usr/local/bin/cds-daemon
User=root
Group=root
Restart=always

# Security Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
